.row
	for post in posts
		.col-md-6
			.card.card-plain.card-blog
				.card-image
					a.imgShow(href="/front/post/#{post._id}", style="background-image:url('#{post.mainImg.url}+#{post.mainImg.filename}');display:block")
				.content
					h6.category.text-info #{post.category}
					h4.card-title
						a(href="/front/post/#{post._id}") #{post.postTitle}
						small.author(style="font-size:11px;display:block") #{ post.author } - #{ post.published.getMonth() + 1}/#{ post.published.getDate()}/#{ post.published.getFullYear()}
					p.card-description #{post.summary}... &nbsp;
						a(href="/front/post/#{post._id}") Read More &raquo;