.clearfix
	h4.title Recent Posts
	- if(posts.length < 4)
		for post in posts
			.card
				.content
					h6.category #{article.category}
					h4.card-title 
						a(href="/front/post/#{article._id}") #{article.postTitle}
					.footer
						.author
							a #{article.author}
						.stats
							i.material-icons chat_bubble
							|&nbsp;
	- if(posts.length > 3)
		for post in [posts[0], posts[1], posts[2], posts[3]]
			.card
				.content
					h6.category #{article.category}
					h4.card-title 
						a(href="/front/post/#{article._id}") #{article.postTitle}
					.footer
						.author
							a #{article.author}
						.stats
							i.material-icons chat_bubble
							|&nbsp;