meta(property="og:title", content="#{athlete.profile.firstName} #{athlete.profile.lastName}")
meta(property="og:image", content="#{athlete.profile.picture.url}+#{athlete.profile.picture.filename}")
meta(property="og:url", content="http://bigbodies.com/athlete/#{athlete._id}")
meta(property="og:description", content="#{athlete.profile.subtitle} - view #{athlete.profile.firstName}'s profile on bigbodies.com")
meta(property="og:site_name", content="Bigbodies.com")
meta(property="og:type", content="article")
meta(property="fb:app_id", content="253043184880913")