.row
	.col-md-12
		.card			
			.content
				h5.card-title Competitions&nbsp;&nbsp;
					small 
						i.fa.fa-trophy
						|&nbsp;&nbsp;#{athlete.profile.firstName}'s shows
				.table-responsive
					table.table(style="font-size:13px")
						thead
							tr
								th.title Year
								th.title Federation
								th.title Show
								th.title Division
								th.text-center.title Class
								th.text-center.title Place
							each show in records
								tr
									td #{show.year}
									td #{show.federation}
									td #{show.show}
									td #{show.division}
									td.text-center #{show.class}
									td.text-center #{show.place}