meta(property="og:title", content="#{gallery.galleryName}")
meta(property="og:image", content="#{gallery.images[0].url}+#{gallery.images[0].filename}")
meta(property="og:url", content="http://bigbodies.com/front/athlete/#{athlete._id}/gal/#{gallery._id}")
meta(property="og:description", content="#{gallery.description} - view #{athlete.profile.firstName}'s gallery on bigbodies.com")
meta(property="og:site_name", content="Bigbodies.com")
meta(property="og:type", content="article")
meta(property="fb:app_id", content="253043184880913")