if athlete.galleries.length > 0 
	h4.title #{athlete.profile.firstName}'s Pictures
	.row		
		each album in athlete.galleries
			.col-md-3
				.card.card-profile.card-plain
					.card-image
						a.imgShow(href="/front/athlete/#{athlete._id}/gal/#{album._id}", style="background-image: url('#{album.images[0].url}+#{album.images[0].filename}');display:block")
					.content
						a.card-title(href="/front/athlete/#{athlete._id}/gal/#{album._id}") #{album.galleryName}
						.footer.text-center
							.author(style="position:relative;top:-9px")
								a.btn.btn-xs.btn-primary.btn-raised(href="/front/athlete/#{athlete._id}/gal/#{album._id}", style="color:white") View &nbsp;
									i.material-icons keyboard_arrow_right
									