h5.title.col-md-12 Social Media&nbsp;
	small connect with&nbsp;&nbsp;
		strong #{athlete.profile.firstName}
.col-md-12
	.row
		each account in athlete.social
			- if(typeof(account.link) !== 'undefined')
				if account.service == 'personal Facebook'
					.col-md-4
						a.btn.btn-simple.btn-xs(class="btn-facebook", href="#{account.link}", target="blank")
							i.fa(class="fa-facebook")
							|&nbsp; #{account.service} page
				if account.service == 'public Facebook'
					.col-md-4
						a.btn.btn-simple.btn-xs(class="btn-facebook", href="#{account.link}", target="blank")
							i.fa(class="fa-facebook-square")
							|&nbsp; #{account.service} page
				if account.service == 'web1' || account.service == 'web2'
					.col-md-4
						a.btn.btn-simple.btn-xs(class="btn-github", href="#{account.link}", target="blank")
							i.fa(class="fa-globe")
							|&nbsp; Web page
				if account.service == 'twitter' || account.service == 'instagram' || account.service == 'google plus' || account.service == 'youtube'
					.col-md-4
						a.btn.btn-simple.btn-xs(class="btn-#{account.service}", href="#{account.link}", target="blank")
							i.fa(class="fa-#{account.service}")
							|&nbsp; #{account.service} page

