.row
	.col-md-12
		.card.card-profile.card-plain
			.col-md-5
				.card-image.imgShow(style="background-image:url('#{athlete.profile.picture.url}+#{athlete.profile.picture.filename}')")
				include ../includes/socialShare
			.col-md-7
					.content.text-left
						h4.card-title #{athlete.profile.firstName} #{athlete.profile.lastName}
						h6.category.text-muted #{athlete.profile.subtitle}
						.row
							ul.list-inline.col-md-12
								each country in athlete.countries
									li
										img(src="/client/img/flags/#{country.countryName.toLowerCase()}.png")
						p.card-description #{athlete.bio}
		