.title
	h4.title Athlete Profiles&nbsp;
		small Recently featured athletes
		a.btn.btn-sm.pull-right.btn-simple.btn-primary(href="/front/athletes") View All &nbsp;
			i.material-icons keyboard_arrow_right
	hr
.row
	each athlete in athletes
		- if(typeof(athlete.profile) !== 'undefined')
			.col-md-4
				.card.card-profile
					.card-image
						a.imgShow(href="/front/athlete/#{athlete._id}", style="background-image: url('#{athlete.profile.picture.url}+#{athlete.profile.picture.filename}');display:block")
						.ripple-container
					.content
						a.card-title(href="/front/athlete/#{athlete._id}") #{athlete.profile.firstName} #{athlete.profile.lastName} 
						h6.category.text-gray #{athlete.profile.subtitle}
						.footer
							.author.pull-right(style="position:relative;top:-9px")
								a.btn.btn-xs.btn-primary.btn-raised(href="/front/athlete/#{athlete._id}", style="color:white") View &nbsp;
									i.material-icons keyboard_arrow_right
								.stats.pull-left
									i.fa.fa-trophy
									|&nbsp;&nbsp;#{athlete.competitions.length + 1} shows