doctype
html(lang="en")
	head
		include includes/head
		include ../includes/appicons
		include posts/postOG
		title #{post.postTitle} - Bigbodies
	body.product-page
		include ../front/includes/fbSDK
		include includes/topNav
		include posts/header
		.section.section-gray
			.container
				.main.main-raised.main-product(style="margin:-20vh 0 0")
					.row
						.col-md-8.picPart
							.row
								.col-md-12
									img.img-responsive(src="#{post.mainImg.url}+#{post.mainImg.filename}")
						.col-md-4.metaPart(style="position:relative;overflow:hidden")
							.clearfix(style="position:absolute;bottom:0;width:100%")
								p.text-gray 
									strong By: &nbsp;
									|#{post.author}
									br
									strong Published: &nbsp;
									|#{ post.published.getMonth() + 1}/#{ post.published.getDate()}/#{ post.published.getFullYear()}
									br
									strong Image Credit: &nbsp;
									a(href="#{post.mediaSourceLink}") #{post.mediaSource}
									br
									strong Featured Athlete: &nbsp;
									a(href="#{post.featuredAthleteLink}") #{post.featuredAthlete} &raquo;
								include posts/socialShare	
					.clearfix
					hr
					.row
						.col-md-8
							.clearfix !{post.content}
							br

							.card
								.content
									include posts/socialShare	
							.clearfix
								.fb-comments(data-numposts="5", data-width="100%")
						.col-md-4
							include posts/sideBar
		include includes/footer
		include includes/script
		script.
			$(document).ready(function(){
				var goodHeight = $('.picPart').height();
				$('.metaPart').height(goodHeight)
			})